// Breakpoints
$breakpoint-small: 480px;  // For mobile devices
$breakpoint-medium: 768px; // For tablets and small desktops
$breakpoint-large: 1024px; // For larger desktops

$primary: #015450;
$primary-light: #33a8a2;
$primary-hover: #2b8b86;
