@import "../../constants/colors.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary;
  color: #fff;
  position: sticky;
  top: 0;
  font-family: "system-ui";
  font-weight: 100;
  padding: 1rem 5rem 1rem 5rem;

  @media (max-width: $breakpoint-medium) {
    padding: 1rem 1.5rem;
  }
}

.navbar-center {
  flex: 1;
}

.navbar-left .logo {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.navbar-center .nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  letter-spacing: 0.025rem;
}

.navbar-center .nav-links li {
  flex: 1;
  margin-right: 1rem;
}

@media (max-width: $breakpoint-medium) {
  .navbar-center .nav-links {
    flex-direction: column;

    li {
      margin-right: 0;
      margin-bottom: 0.5rem;
      text-align: center;
    }
  }
}

.navbar-center .nav-links a {
  color: #fff;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right .cart-icon,
.navbar-right .user-icon {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
  position: relative;
}

.navbar-right .cart-count {
  background-color: #f44336;
  color: #fff;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
}
